*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100%;
}

.mynavbar{
    height: 100vh;
    font-size: 1rem;
    background-color: #ededed;
}


.mynavbar a{
    text-decoration: none;
    color: black;
    position: relative;
    
}

.mynavbar a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: rgb(81, 107, 255);
    transition: width 0.5s ease, left 0.5s ease;
}

.mynavbar a:hover::after {
    width: 100%;
    left: 0;
}

.mynavbar ul{
    padding: 0;
}

.mynavbar .active-link::after{
    width: 100%;
    left: 0;
}

.mynavbar .active-link{
    color: rgb(81, 107, 255);;
}

.nav-link{
    display: inline;
    padding: 1px;
}

#hero{
    /* background: url('images/hero_img_landscape.jpg'); */
    background: linear-gradient(rgba(172, 172, 172, 0.5), rgba(154, 154, 154, 0.5)), url('images/hero_img_landscape.jpg');;
    width: 100%;
    object-fit: contain;
    background-size: cover;
    background-repeat: no-repeat;
    /* overflow: scroll; */
    background-position: right;
}

#hero h1{
    color: black;
}

#heroimg{
    border: 5px solid white;
    border-radius: 50%;
}

.btn-learn{
    background: transparent;
    border: 1px solid black;
    color: black;
    transition: background-color 0.3s ease, transform 0.3s ease;
    
    
}

.btn-learn:hover{
    background-color: rgb(54, 54, 54);
}

#right-column{
    height: 100vh;
    /* font-family: 'Times New Roman', Times, serif; */
    
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.slides{
    transition: 0.5s;
    overflow: hidden;
    height: 100%;
}

.slide{
    height: 100%;
    transition: 0.5s;
    width: 100%;
    
}

.slider-control{
    width: min-content;
    height: min-content;
    text-indent: -999px;
    cursor: pointer;
    top:80%;
    left: 2%;
}
.slider-control ul li{
    width: 11px;
    height: 11px;
    background-color: rgb(40, 40, 40);
    /* margin: 5px; */
    border-radius: 50%;
}

.slider-control ul li:hover{
    border: 2px solid rgb(59, 88, 255);
}

.slide h1{
    font-size: 50px;
    font-weight: 700;
}

/*about*/


.heading-meta{
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #999999;
}

.head-heading{
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;

}

.about-desc>.container>p{
    margin-top: 2rem;
    /* font-weight: 500; */
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.service-icon{
    /* position: absolute;
    top: -20%;
    left: 40%;
    width: max-content;
    background-color: red;
    padding: 10%;
    font-size: x-large;
    transform: rotate(45deg); */
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    /* padding: 15%; */
    width: 100px;
    height: 50px;
    display: table;
    margin: 0 auto;
    background: #2c98f0;

}

.service-icon i{
    font-size: 25px;
    color: #fff;
    z-index: 1; 
    display: table-cell;
    vertical-align: middle;
}

.service-icon::before{
    
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -30px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 51px 30px 50px;
}
.service-icon::after{
    content: '';
    position: absolute;
    bottom: -30px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 51px 0px 50px;
    left: 0;
}

.color-1 .service-icon::before{
border-color: transparent transparent #2c98f0 transparent;
}

.color-1 .service-icon::after{
    border-color: #2c98f0 transparent transparent transparent;
}

.color-2 .service-icon::before{
border-color: transparent transparent #f9bf3f transparent;
}

.color-2 .service-icon::after{
    border-color: #f9bf3f transparent transparent transparent;
}

.color-3 .service-icon::before{
border-color: transparent transparent #2fa499 transparent;
}

.color-3 .service-icon::after{
    border-color: #2fa499 transparent transparent transparent;
}


/*education*/

.timeline-label{
    
    background-color: #edededb7;
}
.timeline-entry{
    background-color: white;
}

.heading-meta2{
    font-size: 20px;
    color: #999999;
}

.timeline-entry .color-1{
    background-color: #2c98f0;
}
.timeline-entry .color-2{
 
    background-color:#f9bf3f;
}
.timeline-entry .color-3{
    background-color:#2fa499;
}

.timeline-entry .color-4{
    background-color:#a84cb8;
}

.timeline-entry .color-4{
    background-color:#a84cb8;
}


.timeline-entry{
    position: relative;
    text-wrap: wrap;
}

.timeline-icon{
    width: 41px;
    height: 41px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left:0;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 3;
    border: 6px solid #f2f3f7;;
}

.timeline-begin .timeline-icon{
    width: 31px;
    height: 31px;
    left: 5px;
    background-color:#f9be3f6a;
}


.timeline-centered::before{
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    background: #f2f3f7;
    top: 50px;
    bottom: 0px;
    margin-left: 29px;
    z-index: 2;
    left: 2px;

}

.overlay{
    position: relative;
    z-index: 5;
    background-color: transparent;
}

.overlay article{
    background-color: transparent;
}

.skills-content h3{
    font-family: "Playfair Display", Georgia, serif;
    font-size: 22px;
    font-weight: 400;
}



.language-logo img{
    height: 100px;
    
}

/*Projects*/

.project{
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    object-fit: contain ;
    display: block;
    margin-bottom: 30px;
    width: 100%;
    height: 15rem;
    border: 2px solid #ededed;
    background-color: #ededed;
    
    /* transition: 0.5s; */
}


.project .desc{
    transition: 0.5s;
    height: 100%;
}

.project .con{
    display: none;
    background-color: transparent;
    height: 100%;
    transition: 0.5s;
    width: 0;

}

.project .con a{
    text-decoration: none;
    color:white;
}

.project:hover .con{
    display: block;
    transition: 0.5s;
    background-color: #3e9deaec;
    color: rgb(219, 219, 219);
    font-weight: 400;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;

}


.caption h5{
    
    /* font-size: 25px; */
    font-weight: 500;
    letter-spacing: 1px;
    /* text-transform: uppercase; */
      
}

.project .icon a{
    color: #333333;
    padding: 5px;
    background: rgba(255, 255, 255, 0.5);

}

#competitive-programming .project{
    height: 18rem ;
}



/*contactme*/

.links a{
    

    text-decoration: none;
    color: black;
    position: relative;
    

}

.contact-icons i{
    font-size: 25px;
}



#footer p{
    
    background-color: #c0c0c0;
    font-weight: 600;
    color: black;
}



/*navbar Mobile*/
#nav-btn{
    z-index: 12;
    position: fixed;
    background-color: #ededed;
    padding: 7px;
    border-radius: 10px;
    color: black;
}

#nav-btn-close{
    z-index: 12;
    position: fixed;
    background-color: #ededed;
    padding: 7px;
    border-radius: 10px;
    color: black;
    display: none;
}

#navbar-mob{
    display: none;
    position: absolute;
    top:0;
    left:-70%;
    width: 70%;
    z-index: 10;
    overflow-y: scroll;

}

/*etc*/

.btn-learn{
    background-color: rgb(54,54,54);
    color: white;
}

.btn-learn:hover{
    background: rgb(84, 84, 84);
}


.mobile-logo-img{
    position: absolute;
    right:0;
    width: 70px;
}

#heroimgmob{
    border: 3px solid white !important;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0px;

}


#nav-btn-close{
    background: transparent;
}




/* Loader */

.loader-div{
    z-index: 15;
    height: 100vh;
    width: 100vw;
    display: block;
}

.loader {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #25b09b;
    --_m: 
      conic-gradient(#0000 10%,#000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: l3 1s infinite linear;

    position: absolute;
    left: 45%;
    top: 45%;
  }
  @keyframes l3 {to{transform: rotate(1turn)}}






@media only screen and (max-width: 950px) and (max-height: 1700px) {
    #hero {
        background: linear-gradient(rgba(172, 172, 172, 0.5), rgba(154, 154, 154, 0.5)), url('images/hero_img_mobile.png');
        width: 100%;
        object-fit: contain;
        background-size: cover;
        background-repeat: no-repeat;
    }
}


@media only screen and (max-width: 750px) {
    #hero {
        background: linear-gradient(rgba(172, 172, 172, 0.5), rgba(154, 154, 154, 0.5)), url('images/hero_img_mobile.png');
        width: 100%;
        object-fit: contain;
        background-size: cover;
        background-repeat: no-repeat;
    }
}